.header {
	position: fixed;
	vertical-align: top;
	width: 100%;
	top: 0%;
	font-family: sans-serif;
	font-size: 140%;
	margin-right: 10px;
	padding-right: 10px;
	z-index: 5;
	background: white;
}
.container {
	position: absolute;
	padding-right: 10px;
	right: 10px;
	padding-left: 0px;
	left: 0px;
	padding-top: 10px;
	top: 10px;
	padding-bottom: 10px;
	bottom: 10px;
	z-index:1;
}
.content {
	font-family: serif;
	position: relative;
	margin-left: 300px;
	margin-right: 0px;
	padding-right: 10px;
	padding-bottom: 100px;
	margin-bottom: 100px;
	bottom: 100px;
	right: 10px;
	top: 100px;
	z-index: 2;
	/* overflow: auto; */
}
.error {
	font-weight: bold;
}
.navbar {
	font-family: monospace;
	position: fixed;
	width: 280px;
	vertical-align: bottom;
	left: 0%;
	top: 100px;
	bottom: 0%;
	padding-right:10px;
	margin-right:10px;
	z-index:4;
	background: white;
}
.navbar-sectiondiv {
	margin-left: 10px;
}

.navbar-pagediv {
	margin-left: 20px;
}

.selected {
	background: #98AFC7;
}
.aikataulu {
	border: 1px;
}
.aikataulu_aika {
	width: 50px;
}
.aikataulu_opiskelija {
	width: 1000px;
}
.deadlinet {
	border: 1px;
}
.deadlinet_paiva {
	width: 100px;
}
.deadlinet_asia {
}
.lastmodified { 
	vertical-align: bottom;
	margin-bottom: 0%;
	bottom: 0;
	position: fixed;
	margin-right: 10px;
	/* right: 10px; */
	padding-right: 10px;
	height: 50px;
	left: 300px;
	z-index:3;
	right: 0;
	background: white;
}
